  </section> {{# End Section Page Wrap #}}

  <footer>
    <div class="wrap">
      <h6>&copy; 2014 Craig Cockerill | Palo Alto, CA</h6>
     <ul id="nav-footer">
        <li>
          {{ if ! segment_1 }}
          <a href="#" class="current">
          {{ else }}
          <a href="/">
          {{ endif }}
            Home
          </a>
        </li>
        {{ nav from="/" max_depth="1" exclude="work|blog|contact" }}
        <li>
          <a href="{{ url }}" {{ if is_current }} class="current" {{ endif }}>
            {{ title }}
          </a>
        </li>
        {{ /nav }}
      </ul> {{# End Nav Footer #}}
    </div> {{# End Header Wrap #}}
    </div>
  </footer> {{# End Site Footer #}}

</body> {{# End Site Body #}}
<link rel="stylesheet" href="{{ theme:asset src="webfonts/ss-s/ss-s.css" }}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ theme:js src="functions"}}"></script>
<script src="{{ theme:js src="sfbay" }}"></script>
{{ if _js }}
{{ _js }}
<script src="{{ theme:js src="{{ name }}" }}"></script>
{{ /_js }}
{{ else }}
{{ endif }}
</html>
