  <footer>
    <div class="wrap">
      <div class="col-2-3">
        <h6>&copy; 2014 Craig Cockerill | Palo Alto, CA</h6>
        <ul id="nav-footer">
          <li>
            {{ if ! segment_1 }}
            <a href="#" class="current">
            {{ else }}
            <a href="/">
            {{ endif }}
              Home
            </a>
          </li>
          {{ nav from="/" max_depth="1" exclude="work|blog|contact" }}
          <li>
            <a href="{{ url }}" {{ if is_current }} class="current" {{ endif }}>
              {{ title }}
            </a>
          </li>
          {{ /nav }}
        </ul> {{# End Nav Footer #}}
      </div>
    </div> {{# End Header Wrap #}}
  </footer> {{# End Site Footer #}}

</body> {{# End Site Body #}}
<script type="text/javascript">
  (function(d) {
    var config = {
      kitId: 'pox3iyj',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ theme:js src="functions"}}"></script>
<script src="{{ theme:js src="sfbay.min" }}"></script>
{{ if _js }}
{{ _js }}
<script src="{{ theme:js src="{{ name }}" }}"></script>
{{ /_js }}
{{ else }}
{{ endif }}
</html>
