<!DOCTYPE html>
<!--

Hey! Thanks for taking a look at my code. I apologize Statamic doesn't produce the most beautiful code — but it's a powerful CMS so it's an easy tradeoff.

ᕕ( ᐛ )ᕗ <(Pssst...)

 ↑ ↑ ↓ ↓ ← → ← → B A

-->
<html>
<head>
  <meta charset="utf-8">
  <title>{{ if title }} {{ title }} | {{ _site_name }} {{ else }} {{ _site_name }} {{ endif }}</title>

  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta name="description" content="Craig Cockerill Designer &amp; Front-End Engineer" />
  <meta name="keywords" content="craig, cockerill, craig cockerill, craigcockerill, designer, engineer, ui, ux, ui engineer, design, palo alto" />
  <meta name="robots" content="index,follow,archive" />

  <link rel="shortcut icon" href="{{ theme:img src="favicon.png"}}" />

  <link rel="stylesheet" href="{{ theme:css }}" />

</head> {{# End Section Head #}}

<body class="cf">
  <header>

    <div class="wrap">

      <a {{ if ! segment_1 }}href="#"{{ else }}href="/"{{ endif }} id="name-link">
        CC
      </a>
    </div> {{# End Header Wrap #}}

  </header> {{# End Site Header #}}

