<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ if title }} {{ title }} | {{ _site_name }} {{ else }} {{ _site_name }} {{ endif }}</title>

	<meta name="viewport" content="initial-scale=1, user-scalable=no">
	<meta name="description" content="Craig Cockerill is a UI Engineer living in Palo Alto, CA." />
	<meta name="keywords" content="craig, cockerill, craig cockerill, craigcockerill, designer, engineer, ui, ux, ui engineer, design, palo alto" />
	<meta name="robots" content="index,follow,archive" />


	<link rel="shortcut icon" href="{{ theme:img src="favicon.png"}}" />



	<link rel="stylesheet" href="{{ theme:css }}" />

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Cantarell:400,700,400italic,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

	<script type="text/javascript">

				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-25419725-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

			</script>

</head> {{# End Section Head #}}

<body {{ if segment_1 }}class="internal"{{ endif }} >

	<header>

		<div class="wrap">

			{{ if ! segment_1 }}
			<a href="#" id="name-link">
			{{ else }}
			<a href="/" id="name-link">
			{{ endif }}

				Craig Cockerill
			</a>

			<i class="ss-icon ss-rows"></i>

			<ul id="nav-main">
				<li>
					{{ if ! segment_1 }}
					<a href="#" class="current">
					{{ else }}
					<a href="/">
					{{ endif }}
						Home
					</a>
				</li>
				{{ nav from="/" max_depth="1" exclude="work|colophon|blog" }}
				<li>
					<a href="{{ url }}" {{ if is_current }} class="current" {{ endif }}>
						{{ title }}
					</a>
				</li>
				{{ /nav }}
			</ul> {{# End Main Nav #}}
		</div> {{# End Header Wrap #}}

	</header> {{# End Site Header #}}

	<section id="page-wrap"> {{# For Sticky Footer #}}
