/* $about
-------------------------------------------------- */

#about {

	.col-2-3 {
		margin-bottom: 20px;
	}

	.col-1-3 {

		@include media($tablet-portrait) {
			@include span-columns(6);
		}
	}
}


/* $heading
------------------------- */

.heading-button {
	display: block;
	font-size: 1.25em;
	padding: 10px;
	font-weight: $light;

	@include transition(all .2s);

	&:hover {
		border-bottom: none;
		background: $primary-light;
	}

}
