/* $DECLARATIONS
-------------------------------------------------- */

$bg: #fff;
$spot: #3aca8a;
$primary: #333;
$primary-light: rgba(19, 168, 87, .125);
$grey: #f9f9f9;
$lightgrey: #e2e2e2;
$black: #313431;
$bg-stripe: url('../img/bg-stripe.png') repeat;


/* $UTILITIES
------------------------- */

.cf {
  @include clearfix;
}

::selection {
  background: lighten($spot, 40%); /* Webkit */
  }
::-moz-selection {
  background: lighten($spot, 40%); /* Firefox */
}

/* $BREAKPOINTS
------------------------- */

$tablet: new-breakpoint(max-width 1090px 12);
$tablet-portrait: new-breakpoint(max-width 768px 6);
$mobile: new-breakpoint(max-width 500px 2);

/* $TYPOGRAPHY
------------------------- */

$copy: "jaf-facitweb", sans-serif;
$alternate: $copy;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;


/* $GLOBAL
-------------------------------------------------- */
body {
  font-style: normal;
  font-weight: $light;
  font-family: $copy;
  color: $primary;
}

/* $FOUT
-------------------------------------------------- */


.wf-loading {
  a, h1, h2, h3, h4, h5, h6, span, p, li, pre, code, input, textarea {
    visibility: hidden;
  }
}

.wf-active {
  a, h1, h2, h3, h4, h5, h6, span, p, li, pre, code, input, textarea {
    visibility: visible;
  }
}


/* $STRUCTURE
-------------------------------------------------- */

.wrap {
  width: 960px;

  @include transition(all .2s);

  @include outer-container;

  @include media($tablet) {
    max-width: 768px;
  }

  @include media($tablet-portrait) {
    max-width: 500px;
  }

  @include media($mobile) {
    max-width: 300px;
  }
}

.col-1-3 {
  @include span-columns(4);


  @include media($tablet-portrait) {
    @include span-columns(3);
  }

  @include media($mobile) {
    @include span-columns(2);
  }
}

.col-2-3 {
  @include span-columns(8);

  @include media($tablet-portrait) {
    @include span-columns(6);
  }

  @include media($mobile) {
    @include span-columns(2);
  }

  .col-1-3 {
  @include span-columns(4 of 8);

    @include media($tablet-portrait) {
      @include span-columns(3 of 6);
    }

    @include media($mobile) {
      @include span-columns(2 of 2);
    }
  }



}

/* $TYPOGRAPHY
-------------------------------------------------- */

body {
  font-size: 24px;
  line-height: 36px;
  -webkit-font-smoothing: antialiased;

  @include media($mobile) {
    font-size: 18px;
    line-height: 30px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

h1 {
  margin: 0 0 21px 0;
  font-size: 36px;
  line-height: 48px;
  font-family: $alternate;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;

  @include media($mobile) {
    font-size: 24px;
    line-height: 36px;
  }
}

h2 {
  font-size: 30px;
  line-height: 48px;
  font-weight: $regular;
}

h3 {
  font-weight: $regular;
}

p {
  margin: 0 0 18px 0;
}

a {
  text-decoration: none;
  color: $spot;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;

  @include transition (all .2s);

  &:hover {
    color: lighten($spot, 30%);
    background: $spot;
  }
}


/* $Typed
-------------------------------------------------- */

@include keyframes(blink) {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#typed-cursor{
  opacity: 1;
  font-weight: 100;
  // add prefixes
  @include animation( blink .7s  infinite );
}


