/* $header
-------------------------------------------------- */

header {
  padding: 60px 0 45px 0;
}

#name-link {
  display: inline-block;
  color: $spot;
  font-weight: $regular;
  text-decoration: none;
  opacity: 1;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: .05em;
  -webkit-font-smoothing: antialiased;
  border: 5px solid $spot;
  padding: 3px 6px;

  // animation-name:                        logo;
  // -webkit-animation-name:                logo;
  // animation-duration:                      5s;
  // -webkit-animation-duration:              5s;
  // animation-iteration-count:         infinite;
  // -webkit-animation-iteration-count: infinite;


  &:hover {
    color: lighten($spot, 25%);
    background: none;
    border-color: lighten($spot, 25%);
  }
}
