@-webkit-keyframes type-color {
	0% {
		color: $primary;
	}
	20% {
		color: #066d36;
	}
	40% {
		color: #2a7e51;
	}
	60% {
		color: #47d388;
	}
	80% {
		color: #6cd39c;
	}
	100% {
		color: $primary;
	}
}

@keyframes type-color {
	0% {
		color: $primary;
	}
	20% {
		color: #066d36;
	}
	40% {
		color: #2a7e51;
	}
	60% {
		color: #47d388;
	}
	80% {
		color: #6cd39c;
	}
	100% {
		color: $primary;
	}
}

@-webkit-keyframes logo {
	0% {
		color:            #82c764;
		border: 4px solid #82c764;
	}
	25% {
		color:            #3b4ea2;
		border: 4px solid #3b4ea2;
	}
	50% {
		color:            #3b4ea2;
		border: 4px solid #3b4ea2;
	}
	75% {
		color:            #ba2575;
		border: 4px solid #ba2575;
	}
	100% {
		color:            #82c764;
		border: 4px solid #82c764;
	}
}

@keyframes logo {
	0% {
		color:            #82c764;
		border: 4px solid #82c764;
	}
	25% {
		color:            #3b4ea2;
		border: 4px solid #3b4ea2;
	}
	50% {
		color:            #3b4ea2;
		border: 4px solid #3b4ea2;
	}
	75% {
		color:            #ba2575;
		border: 4px solid #ba2575;
	}
	100% {
		color:            #82c764;
		border: 4px solid #82c764;
	}
}


@-webkit-keyframes bg-color {
	0% {
		background: $primary;
	}
	20% {
		background: #066d36;
	}
	40% {
		background: #2a7e51;
	}
	60% {
		background: #47d388;
	}
	80% {
		background: #6cd39c;
	}
	100% {
		background: $primary;
	}
}

@keyframes bg-color {
	0% {
		background: $primary;
	}
	20% {
		background: #066d36;
	}
	40% {
		background: #2a7e51;
	}
	60% {
		background: #47d388;
	}
	80% {
		background: #6cd39c;
	}
	100% {
		background: $primary;
	}
}
